<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>Document</title
 </head>
 <body>
    <form action="/near-hundred/" method="GET">
        <p>Is the number near 100?</p>

        <label>
            <p>Type in a number</p>
            <input type "number" name="name">
        </label>

        <div>
        <button>Submit</button>
        </div>
        
    </form> 

    {% if n is not None%}
      <p>This number is near 100!</p>
    {% endif %}

        
 </body> 
 </html>
