<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>Document</title
 </head>
 <body>
    <form action="/string-splosion/" method="GET">
        <p>What's my age in {end}?</p>

        <label>
            <p>What's your current age?</p>
            <input type "text" name="name">
        </label>


        <div>
        <button>Submit</button>
        </div>
        
    </form> 

    {% if ... is not None%}
      <p>...</p>
    {% endif %}

        
 </body> 
 </html>
