<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>Document</title
 </head>
 <body>
    <form action="/age/" method="GET">
        <p>What age did I die?</p>

        <label>
            <p>Birthyear?</p>
            <input type "number" name="birth">
        </label>

        <label>
            <p>Deathyear?</p>
            <input type "number" name="death">
        </label>

        <div>
        <button>Calculate!</button>
        </div>
        
    </form> 

    {% if age is not None%}
    <p>{{death}} - {{birth}} = {{age}}</p>
    <p>You will die at {{age}}.</p>
    {% endif%}

 </body> 
 </html>
