<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>Document</title>
 </head>
 <body>
    <form action="/order/" method="GET">
        <p>What's my order total?</p>

        <label>
            <p>How many burgers do you want?</p>
            <input type "number" name="bt">
        </label>

        <label>
            <p>How many fries do you want?</p>
            <input type "number" name="ft">
        </label>

        <label>
            <p>How many drinks do you want?</p>
            <input type "number" name="dt">
        </label>

        <div>
        <button>Submit order</button>
        </div>  
    </form>
    
    {% if total is not None%}
      <p>Your order total is ${{total}}!</p>
    {% endif %}

 </body> 
 </html>
